<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌列表案例实现</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
</head>
<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">增加车辆 </h3>
        </div>

        <div class="panel-body">
            <label>
                ID:
                <input type="text" v-model="id">
            </label>
            <label>
                名称:
                <!--<input type="text" v-model="name" @keyup.enter="add">-->
                <!--自定义按键修饰符-->
                <input type="text" v-model="name" @keyup.F2="add">
            </label>

            <input type="button" value="增加" class="btn btn-primary" @click="add()">

            <label>
                根据关键词搜索:
                <input type="text" v-model="keyWord">
            </label>


        </div>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>时间</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="car in search(keyWord)" :key="car.id">
            <td>{{car.id}}</td>
            <td v-text="car.name"></td>
            <td>{{car.createTime|dateFormat}}</td>
            <td><a href="#" @click="del(car.id)">{{car.Operation}}</a></td>
        </tr>
        </tbody>
    </table>

</div>
<script src="./lib/Vue.js"></script>
<script>
    <!--自定义全局按键修饰符-->
    Vue.config.keyCodes.F2 = 113;
    Vue.filter('dateFormat',function (date) {
//        根据日期字符串，得到特定的时间
        var time = new Date(date);
//        年
        var year = time.getFullYear();

//        月
        var month = time.getMonth();

//        日
        var date = time.getDate();
//        模板字符串，注意两边不是引号，是键盘左上角和~一个键。
        return `${year} - ${month} - ${date}`;


    })

    var vm = new Vue({
        el: "#app",
        data: {
            id:'',
            name:'',
            keyWord:'',// 根据关键词搜索
            carLists:[
                {id:1,name:"大众",createTime:new Date(),Operation:"删除"},
                {id:2,name:"奥拓",createTime:new Date(),Operation:"删除"}

            ]
        },
        methods:{
//            1. 获取id和name
//            2.拼接成对象，加到carLists中
//            3.注意：在vue中已经实现了数据的双向绑定，每当我们修改data中的数据，Vue
//            会默认监听到数据的变动，自动渲染到界面上
            add(){
                var newCar = {id:this.id,name:this.name,createTime:new Date(),Operation:"删除"} ;
                this.carLists.push(newCar);
//                输入框为空
                this.id = '';
                this.name = '';

            },
            del(id){
//                1.根据id找到相应对象
//                2.从数组中删除该对象
//                this.carLists.some((car,i)=>{
//                    if(car.id == id){
//                        this.carLists.splice(i,1);
//                        return true;
//                    }
//                })

                var index = this.carLists.findIndex((car)=>{
                    if(car.id == id){
                        return true;
                    }
                });
                this.carLists.splice(index,1);

            },
            search:function (keyword) {
//                1.遍历全部数据
//                2.判断包括keyword的对象
//                3. 返回符合对象的数组
//                var newList = []
//                this.carLists.forEach(function (car) {
//                    if(car.name.indexOf(keyword)!=-1){
//                        newList.push(car)
//                    }
//
//                })
//                return newList;

//                filter() 方法创建一个新的数组，新数组中的元素是通过检查指定数组中符合条件的所有元素。
                return this.carLists.filter((car)=>{
//在ES6中，为字符串提供一个新的方法，String.prototype.includes('要包含合法的字符串')，如果包含就返回true,
//                    如果不包含返回false
                    if(car.name.includes(keyword)){
                        return car;
                    }
                });

            }
        },
//        定义私有过滤器， 过滤器名称，函数
        filters:{
            dateFormat:function (date) {
//                将字符串转化为时间
                var time = new Date(date);
                var year = time.getFullYear();
//                padStart(len, str)
//                根据给定长度在字符串的前面增加想增加的字符
//                len:给定的长度，转换后
//                str:想补充的字符串
                var month = time.getMonth()+1;
                month = month.toString().padStart(2,'0');
                var day = time.getDate().toString().padStart(2,'0');;

                var hour = time.getHours().toString().padStart(2,'0');;
                var minute = time.getMinutes().toString().padStart(2,'0');;
                var second = time.getSeconds().toString().padStart(2,'0');;
                return `${year}-${month}-${day} ${hour}:${minute}:${second}`;

            }

        }
    })
</script>
</body>
</html>